{
  "openapi": "3.1.0",
  "info": {
    "title": "AltPay API",
    "description": "API documentation for AltPay",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sandbox.altpay.uk"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v2/member": {
      "post": {
        "summary": "Invite sub user",
        "tags": [
          "member"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "validate",
            "schema": {
              "default": 0,
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/MemberInviteV2"
              },
              "encoding": {
                "walletAccess[]": {
                  "explode": true
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberInviteV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/responses/SuccessFormResponse"
                    },
                    {
                      "$ref": "#/components/responses/ErrorFormResponse"
                    },
                    {
                      "$ref": "#/components/responses/SignFormResponse"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MemberInviteV2": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "walletAccess": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "role": {
            "type": "string"
          }
        },
        "required": [
          "email",
          "walletAccess",
          "role"
        ]
      }
    },
    "responses": {
      "SuccessFormResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "SUCCESS"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "ErrorFormResponse": {
        "description": "Form error"
      },
      "SignFormResponse": {
        "description": "MFA required"
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "UNAUTHORIZED"
                },
                "message": {
                  "type": "string",
                  "example": "Invalid credentials"
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "FORBIDDEN"
                },
                "message": {
                  "type": "string",
                  "example": "You do not have permission to access this resource"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}